.desktop-content-app {
  margin-top: 4px;
  margin-bottom: 30px;
  margin-left: 40px;
  width: 100vw;
  cursor: default;
}

.desktop-col {
  padding-left: 10vw;
  width: 23.33vw;
  display: inline-block;
}