.container {
  padding: 0px;
  margin-left: 0px;
}

.sub-skill {
  width: 300px;
  height: 200px;
  outline-offset: -2px;
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: initial;
}

.inner-sub-skill-content {
  width: 250px;
}

.inner-sub-skill-header {
  margin: 4px;
}
