.desktop-contains-colorPicker {
  width: 200px;
}

.desktopColorDisplay {
  width: 190px;
  height: 145px;
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
  margin-left: 0px;
  margin-bottom: 28px;
}

.desktop-slidecontainer {
  width: 190px;
  display: inline-block;
}

.desktop-rowItem {
  vertical-align: middle;
  height: 40px;
  display: inline-block;
  
}

.desktop-input-row {
  border: 3px #777 solid;
  border-radius: 3px;
  height: 17px;
  margin-top: 2px;
  margin-left: 3px;
}

.desktop-hex-io {
  border: 3px #777 solid;
  border-radius: 3px;
  height: 17px;
}

.desktop-cp-button {
  border: 3px #777 solid;
  color: #777;
  background-color: #fff;
  height: 25px;
  width: 41px;
  padding: 0;
  border-radius: 3px;
}

.desktop-slider-red {
  background-color: red;
}

.desktop-slider-green {
  background-color: green;
}

.desktop-slider-blue {
  background-color: blue;
}

.desktop-rgb-align {
  border: 4px red solid;
  width: 30px;
  padding-bottom: 20px;
}

.desktop-slider {
  -webkit-appearance: none;
  position: relative;
  width: 147px;
  height: 25px;
  border-radius: 4px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.desktop-slider:hover {
  opacity: 1;
}

.desktop-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 20px;
  height: 30px;
  background: #04AA6D;
  cursor: pointer;
}

.desktop-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}