.mobile-difficulty { 
  width: 176px;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 14pt;
}

.mobile-easy-med {
  background-color: #aaa;
  border-radius: 4px;
  cursor: pointer;
}
.mobile-easy {
  display: inline-block;
  background-color: #ccc;
  height: 30px;
  line-height: 30px;
  width: 50%;
  text-align: center;
  border-radius: 4px 0 0 4px;
  transition: 0.3s;
}
.mobile-easy:hover { 
  color: #eee;
  background-color: #666;
}
.mobile-med {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 50%;
  text-align: center;
}
.mobile-med:hover { 
  color: #eee;
  background-color: #272727;
}

.mobile-hard {
  color: #fff;
  background-color: #666;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.mobile-hard:hover { 
  color: #d20000;
  background-color: #000;
}


.mobile-xo-board {
  cursor: pointer;  
  margin-top: 4px;
}

.row-1 {
  display: block;
  color: cyan;
}

.row-1-col-a {
  width: 56px;
  height: 56px;
  border-right: 1px #777 solid;
  border-bottom: 1px #777 solid;
  display: inline-block;
  text-align: center;
}

.row-1-col-b {
  width: 56px;
  height: 56px;
  border: 1px #777 solid;
  border-top: none;
  display: inline-block;
  text-align: center;
}

.row-1-col-c {
  width: 56px;
  height: 56px;
  border-left: 1px #777 solid;
  border-bottom: 1px #777 solid;
  display: inline-block;
  text-align: center;
}

.row-2 { 
  display: block;
  color: red;
}

.row-2-col-a {
  width: 56px;
  height: 56px;
  border: 1px #777 solid;
  border-left: none;
  display: inline-block;
  text-align: center;
}

.row-2-col-b {
  width: 56px;
  height: 56px;
  border: 1px #777 solid;
  display: inline-block;
  text-align: center;
}

.row-2-col-c {
  width: 56px;
  height: 56px;
  border: 1px #777 solid;
  border-right: none;
  display: inline-block;
  text-align: center;
}

.row-3 {
  display: block;
  color: lime;
}

.row-3-col-a {
  width: 56px;
  height: 56px;
  border-right: 1px #777 solid;
  border-top: 1px #777 solid;
  display: inline-block;
  text-align: center;
}

.row-3-col-b {
  width: 56px;
  height: 56px;
  border: 1px #777 solid;
  border-bottom: none;
  display: inline-block;
  text-align: center;
}

.row-3-col-c {
  width: 56px;
  height: 56px;
  border-left: 1px #777 solid;
  border-top: 1px #777 solid;
  display: inline-block;
  text-align: center;
}

.vCenter {
  display: block;
  margin-top: 0px;
  padding: 0;
}

.xoCells {
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 0;
  opacity: 0.5;
  transition: opacity .2s;
}

.xoCells:hover {
  opacity: 1;
}


.player {
  width: 170px;
  display: inline-block;
  margin-top: 6px;
}

.x-choice {
  display: inline-block;
  border: 3px #bbb solid;
  text-align: center;
  height: 76px;
  line-height: 79px;
  width: 76px;
  border-radius: 6px;
  opacity: 0.5;
  transition: opacity .2s;
}

.x-choice:hover {
  opacity: 1;
  background-color: #888;
  border: 3px #333 solid;
}

.o-choice {
  display: inline-block;
  border: 3px #bbb solid;
  height: 76px;
  line-height: 79px;
  width: 76px;
  margin-left: 4px;
  text-align: center;
  border-radius: 6px;
  opacity: 0.5;
  transition: opacity .2s;
}

.o-choice:hover {
  opacity: 1;
  background-color: #888;
  border: 3px #333 solid;
}