.innerContent {
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  border: none;
  white-space: nowrap;
}

.innerContentButtons {
  display: inline-block;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: top;
  text-align: initial;
}

.innerContentContent {
  border: 0px dashed;
  width: 88.652%;
  margin-left: 10px;
  display: inline-block;
  padding-left: none;
  vertical-align: top;
  text-align: initial;
}

.inner-container {
  color: #888;
  white-space: normal;
}

.listSkills {
  list-style-type: none;
  padding: 0px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.listSkillsItem {
  padding-top: 0px;
  border: none;
}

.skillButton {
  background-color: none;
  background: none;
  color: #fff; 
  border: none;
  
  font-family: 'Arial Bold',
      Gadget, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.tab-list-active {
  background: #a4d4df;
}

.active, .tab-list-active:hover  {
  background-color: #bce2eb;
}

.inactive-tab-color {
  background: #888
}

.active, .inactive-tab-color:hover  {
  background-color: #aaa;
}