.container-mobile{
  padding: 0px;
  margin-left: 0px;
}
 
.sub-skill-1-mobile {
  width: 300px;
  height: 200px;
  outline-offset: -2px;
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: initial;
  color: #999;
}

.inner-sub-skill-1-content-mobile {
  width: 250px;
}

.inner-sub-skill-1-header-mobile{
  margin: 4px;
}

.sub-skill-2-mobile {
  width: 300px;
  height: 200px;
  outline-offset: -2px;
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: initial;
}

.inner-sub-skill-2-content-mobile {
  width: 250px;
}

.inner-sub-skill-2-header-mobile{
  margin: 4px;
}

.sub-skill-3-mobile {
  width: 300px;
  height: 200px;
  outline-offset: -2px;
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0 0 0 0;
  vertical-align: top;
  text-align: initial;
}

.inner-sub-skill-3-content-mobile {
  width: 250px;
}

.inner-sub-skill-3-header-mobile{
  margin: 4px;
}

.sub-skill-4-mobile {
  width: 300px;
  height: 200px;
  outline-offset: -2px;
  display: inline-block;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: initial;
}

.inner-sub-skill-4-content-mobile {
  width: 250px;
}

.inner-sub-skill-4-header-mobile{
  margin: 4px;
}