.container-mobile {
  padding: 0px;
  margin-left: 0px;
}

.inner-container-mobile {
  width: 100vw;
  float: left;
  clear: none;
}

.blocks { 
  display: inline-block;
  vertical-align: top;
}

.skill-button-back {
  background-color: red;
  width: 10%;
  height: 200px;
}

.skill-button {
  width: 12%;
  padding-top: 70px;
  height: 130px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.disabled {
  color: #DDD;
  cursor: default;
}
 
.sub-skill-mobile {
  height: 200px;
  width: 76%;
}

.inner-sub-skill-content-mobile {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.inner-sub-skill-header-mobile{
  width: 300px;
  padding-left: 40px;
  padding-right: 20px;
}