.desktop-xo-body {
  width: 176px
}

.desktop-xo-board { 
  margin-top: 4px;
}


.player {
  width: 100%;
  display: inline-block;
  margin-top: 6px;
}

.x-choice {
  display: inline-block;
  border: 3px #bbb solid;
  text-align: center;
  height: 76px;
  line-height: 79px;
  width: 76px;
  border-radius: 6px;
  opacity: 0.5;
  transition: opacity .2s;
}

.x-choice:hover {
  opacity: 1;
  background-color: #888;
  border: 3px #333 solid;
}

.o-choice {
  display: inline-block;
  border: 3px #bbb solid;
  height: 76px;
  line-height: 79px;
  width: 76px;
  margin-left: 4px;
  text-align: center;
  border-radius: 6px;
  opacity: 0.5;
  transition: opacity .2s;
}

.o-choice:hover {
  opacity: 1;
  background-color: #888;
  border: 3px #333 solid;
}